body {
  font-family: "Ubuntu", sans-serif;
  background: #f9f7fe;
}


.engulf {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
  border-radius: 6px;
}

.s-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
}

main {
  padding: 30px 0;
}



.current-weather {
  display: flex;
  justify-content: space-between;
}

.city-now {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.info {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

#humidity {
  color: #f65282;
}

#wind {
  color: #f65282;
}

.weather {
  display: flex;
}

.emot {
  width: 88px;
  height: 88px;
}

.c-weather {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.intensity {
  margin-top: 6px;
  font-size: 28px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.forecast-weather {
  display: flex;
  color: #000;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-icon {
  width: 55px;
  height: 55px;
  display: block;
  text-align: center;
}
.forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 12px;
  line-height: 10px;
  margin-bottom: 10px;
}

.all_temperatures {
  text-align: center;
  font-size: 12px;
  color: #f65282;
  display: flex;
  justify-content: center;
}

.fc-temp {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: #885df1;
  font-weight: 400;
}
